@model X.PagedList.IPagedList<LojaVirtual.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categoria</h1>

<a asp-action="Cadastrar" class="btn btn-primary">Cadastrar</a>

@if (Html.ViewContext.TempData["MSGS"] != null)
{
    <p class="alert alert-success">@Html.ViewContext.TempData["MSGS"]</p>
}

@if (Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.First().Id)</th>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.First().Nome)</th>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.First().CategoriaPaiId)</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (LojaVirtual.Models.Categoria categoria in Model)
                {
                    <tr>
                        <th scope="row">@categoria.Id</th>
                        <td>@categoria.Nome</td>
                        <td>@Html.DisplayFor(c => categoria.CategoriaPai.Nome)</td>
                        <td>
                            <a asp-action="Atualizar" asp-route-id="@categoria.Id" class="btn btn-secondary">Atualizar</a>
                            <a asp-action="Excluir" asp-route-id="@categoria.Id" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina }))
}
else
{
    <br />
    <br /><span>Sem categoria cadastrada</span>
}